<!-- La string interpolation est la méthode la plus simple pour afficher le contenu d'une variable dans le template. Il suffit de mettre le nom de la variable à afficher entre doubles accolades {{ }} dans le HTML -->

<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unProjet !' }">
  <h2>{{ monPojetAngular.title | uppercase}}</h2>
  <p>Mis en ligne {{ monPojetAngular.createdDate | date: 'le d MMMM yyyy à HH:mm' }}</p>
  
  <!-- L'attribute binding permet de lier la valeur d'une propriété TypeScript à un attribut HTML, en mettant l'attribut entre crochets  []  et en passant le nom de la propriété. -->
  <img [src]="monPojetAngular.imageUrl" [alt]="monPojetAngular.title" />
  <p>{{ monPojetAngular.description }}</p>
  <p *ngIf="monPojetAngular.location">Photo prise à {{ monPojetAngular.location }} </p>
  <p>
    <button (click)="onProjet()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + monPojetAngular.projet + ', 0)'}">{{ monPojetAngular.projet }}</span>
  </p>
</div>

