<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unProjet !' }">
  <h2>{{ monPojetAngular.title | uppercase}}</h2>
  <p>Mis en ligne {{ monPojetAngular.createdDate | date: 'le d MMMM yyyy à HH:mm' }}</p>
  <img [src]="monPojetAngular.imageUrl" [alt]="monPojetAngular.title" />
  <p>{{ monPojetAngular.description }}</p>
  <p *ngIf="monPojetAngular.location">Photo prise à {{ monPojetAngular.location }} </p>
  <p>
    <button (click)="onProjet()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + monPojetAngular.projet + ', 0)'}">{{ monPojetAngular.projet }}</span>
  </p>
</div>

